#NB: currently must rewrite _all_ the desired rustflags for each target, - they don't stack

[target]
[target.x86_64-unknown-linux-gnu]
rustflags = ["-C", "link-arg=-fuse-ld=mold"] # have a very cursed script to overwrite this for nightly
#linker = "clang"

[profile]
[profile.release]
debug = 0
opt-level = 2 # Orion says 3 is too much, suggesting 2. Have no evidence to disagree, especially considering how much 3 bloats the binary.

[profile.dev]
debug = true

#codegen-backend = "cranelift" # faster comp times. But don't setup here - setup on per-project basis, as it has a dep on associated `component`

[profile.dev.package]
v_utils.opt-level = 1
bevy.opt-level = 3
bevy_editor_pls.opt-level = 3
bevy_panorbit_camera.opt-level = 3
insta.opt-level = 3
#similar.opt-level = 3

[build]
rustc-wrapper = "sccache"

[alias]
w = "watch"
a = "add"
u = "update"
m = "machete"
re = "insta review"
rt = "insta test --review"
f = "fmt"
x = "fix --allow-dirty --allow-no-vcs"
xc = "clippy --fix --allow-dirty --allow-no-vcs"
xca = "clippy --fix --all-targets --all-features --allow-dirty --allow-no-vcs --allow-staged"
s = "sweep --recursive --installed" # only leave currently active artifacts
rel = "release --no-confirm --execute"
so = "sort -wg"

# overriding defaults in favor of cargo-limit alternatives
# if `--all-features` is needed for better dev experience, override these shortcuts with it on per-project basis. eg: "lbuild --all-features"
b = "lbuild"
c = "lcheck"
r = "lrun"
t = "nextest run"

# leptos {{{1
ls = "leptos serve"
lw = "leptos watch"
#,}}}1


[cargo-new]
# VCS to use ('git', 'hg', 'pijul', 'fossil', 'none')
vcs = "none" # set it up with my `can` script, don't need this
